services:
  server:
    build:
      context: .
      dockerfile: docker/Dockerfile.server
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - KEYCLOAK_HOST=keycloak
      - KEYCLOAK_PORT=8080
      - GROUPS_MONGO_HOST=groups-mongodb
      - GROUPS_MONGO_PORT=27017
      - GROUPS_REDIS_URI=redis://groups-redis:6379
    depends_on:
      - keycloak
      - groups-mongodb
      - groups-redis
    networks:
      - livinglink_net

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
    ports:
      - "${WEB_PORT}:80"
    environment:
      - WEB_PORT=${WEB_PORT}
    networks:
      - livinglink_net

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    command: start-dev --import-realm
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - KEYCLOAK_USER_ROLE=${KEYCLOAK_USER_ROLE}
      - KEYCLOAK_HTTP_ENABLED=true
      - KEYCLOAK_HOSTNAME_STRICT=false
      - KEYCLOAK_HOSTNAME_STRICT_HTTPS=false
      - KEYCLOAK_DISABLE_HTTPS_CHECKS=true
    ports:
      - "${KEYCLOAK_PORT}:8080"
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm.json:ro
    networks:
      - livinglink_net

  groups-mongodb:
    image: mongo:7.0
    container_name: groups-mongo-db
    ports:
      - "${GROUPS_MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${GROUPS_MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${GROUPS_MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${GROUPS_MONGO_DATABASE}
    volumes:
      - mongodb_data:/data/db
    networks:
      - livinglink_net

  groups-redis:
    image: redis:7.0
    container_name: groups-redis
    ports:
      - "${GROUPS_REDIS_PORT}:6379"
    command: [ "redis-server", "--save", "", "--appendonly", "no" ]
    networks:
      - livinglink_net

networks:
  livinglink_net:
    driver: bridge

volumes:
  mongodb_data:
