version: "3.9"
services:
  server:
    build:
      context: .
      dockerfile: docker/Dockerfile.server
    ports:
      - "8080:8080"

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
    ports:
      - "3000:80"
